.color-selector-container {
    background-color: white;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(175, 175, 175);
    position: absolute;
    flex-wrap: wrap;
    width: 150px;
    bottom: 20px;
    z-index: 999;
}

.color-selector-color {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 1.5px solid rgb(175, 175, 175);
    margin: 2px;
    cursor: pointer;
}