* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    color: #5f6368;
}

body {
    background: #ffffff;
}

.body-container {
    display: flex;
}

.left-navbar-wrapper {
    width: 400px;
}

.notes-wrapper {
    width: 100%;
    margin-top: 60px;
}

@media only screen and (max-width: 762px) {
    .left-navbar-container {
        width: 60px;
    }
    .create-note-container form {
        width: unset;
    }
}
